# Path to your pdbaa BLAST database file
BLAST_DB_PATH = "path\\to\\your\\db\\file"

# API key (default Google's Gemini)
export GEMINI_API_KEY="YOUR_API_KEY"

# Frontend app settings
VITE_API_URL=http://localhost:8000

# Optional: Database config
# this is for the SSGCID database -- not necessary unless trying to use SSGCID IDs
DB_SERVER='db_server'
DB_NAME=SSGCID
DB_DRIVER={ODBC Driver 17 for SQL Server}

# Optional: Provides additional taxonomic context
NEO4J_USERNAME="your_username" 
NEO4J_PASSWORD="your_password"
NEO4J_URI="your_URI"
NEO4J_HOME="path\\to\\your\\neo4j"

